.isitextbox {
	border: 2px solid #FF6600;
	border-radius:5px;
	height:25px;
	}
.labeljudul{
font-family:Arial, Helvetica, sans-serif;
font-size:18px;
border-radius:5px;
background-image:url(../media/themes/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png);
}
.legend {
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
background-image:url(../media/themes/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png);
   
}.lblperintah {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FF0000;
}
.lbltext {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
}
.lblcontoh {
font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	color: #FF0000;
}
.lbltitle{
	color:#CC0066;
	font-family:"Times New Roman", Times, serif;
	font-size:10px;
	text-decoration: blink;
}
#page {
	background-image: none;
	height: auto;
	width: 100%;
	float: left;
}
#header {
	background-image:url(../admin/images/backheader.png);
	float: left;
	height: 100px;
	width: 100%;
	background-repeat: repeat;
	
}
#konten {
	float: left;
	width: 100%;
	background-image: url(../admin/images/konten.jpg);
	min-height: 1000px;
}
#slidebarkiri {
	float: left;
	height: auto;
	width: 20%;
}
.isikiri {
	float: left;
	height: auto;
	width: 20%;
}
#post {
	float: left;
	height: auto;
	width: 80%;
}
.isipost {
	float: left;
	height: auto;
	width: 100%;
	text-align:center;
				
}

.menu_list {	
	width: 200px;
}
.menu_head {
	padding: 8px 10px;
	cursor: pointer;
	position: relative;
	margin:1px;
    font-weight:bold;
	border-radius:5px;
    background: #eef4d3 url(../admin/images/left.png) center right no-repeat;
	
}
.menu_body {
	display:none;
}
.menu_body a{
  display:block;
  color:#006699;
  background-color:#EFEFEF;
  padding-left:10px;
  font-weight:bold;
  text-decoration:none;
  height:25px;
  border-radius:5px;
   }
.menu_body a:hover{
  color:#FF0000;
  background-color:#FFFF66;
  }
  
